# WARNING: this file is not suitable for production, please use with caution
version: '3'

services:
  web:
    image: doctruck_backend
    build: .
    command: gunicorn -b 0.0.0.0:5000 doctruck_backend.wsgi:app
    env_file:
      - ./.flaskenv
    environment:
      - DATABASE_URI=sqlite:////db/doctruck_backend.db
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq
      - CELERY_RESULT_BACKEND_URL=redis://redis
    volumes:
      - ./doctruck_backend:/code/doctruck_backend
      - ./db/:/db/
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
  rabbitmq:
    image: rabbitmq
  redis:
    image: redis
  celery:
    image: doctruck_backend
    command: "celery worker -A doctruck_backend.celery_app:app"
    env_file:
      - ./.flaskenv
    volumes:
      - .:/code
    depends_on:
      - rabbitmq
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq
      - CELERY_RESULT_BACKEND_URL=redis://redis
